:root {
  --grey: #d9d9d9;
  --dark-grey: #d0d0d0;
  --white: #ffffff;
}

* {
  margin: 6px;
}

html,
body {
  font-family: "Instrument Serif", serif;
  height: 100%;
  margin: 0;
  padding: 30px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.intro {
  display: flex;
  align-items: baseline;
}

.description {
  font-size: 0.9rem;
}

input,
button {
  font-family: "Instrument Serif", serif;
  transition: 0.2s;
}

input:hover {
  transform: scale(1.05);
}

input::placeholder {
  font-family: "Instrument Serif", serif;
}

input {
  min-width: 200px;
  height: 30px;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}

button {
  background-color: var(--grey);
  color: black;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.7em 1.5em;
  width: 50%;
  height: 90%;
  transition: 0.2s;
}

button:hover {
  background-color: var(--dark-grey);
  transform: scale(1.05);
}

#giphy-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  transition: opacity 0.3s ease;
}

.output {
  display: flex;
}

.section-container {
  display: flex;
}
